*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  width: 100vw;
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

header img{
  height: 100%;
}

main{
  flex-grow: 1;
}

#calculadora{
  background-color: #E1E1E1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: min(600px, 90vw);
  height: 220px;
  border-radius: 5px;

  padding: 24px;
}

#calculadora h1{
  font-size: 1.2rem;

  color: #A62121;
  text-align: center;
}

.input{
  background: none;
  border: 1px solid #8C8988;
  border-radius: 5px;
  padding: 10px 10px;
}

#disciplina{
  width: 80%;
}

#notas{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-notas{
  width: 48%;
}

#calculadora button{
  background-color: #8C8988;
  color: #000000;

  font-weight: 500;

  border: none;
  border-radius: 5px;

  padding: 10px 15px;

  cursor: pointer;
  transition: .3s;
}

#calculadora button:hover{
  filter: brightness(1.2);
}

.nota{
  background-color: #E1E1E1;
  color: #403D3D;

  font-weight: 500;

  list-style-type: none;
  font-size: 1.3rem;

  padding: 10px;

  margin: 15px 0;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deletar{
  background: none;
  border: none;

  color: #A62121ed;
  cursor: pointer;
}

footer{
  text-align: center;
  font-size: .8rem;

  padding-bottom: 10px;
}

footer a{
  text-decoration: none;
}